/* Styles pour l'en-tête */
.header {
  box-sizing: border-box;
  font: {
    size: 16px;
    family: "space_monoregular", monospace;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw; // Assure que le header prend toute la largeur
  box-shadow: 0px 4px 14px 10px rgba(0, 0, 0, 0.03);
}

/* Styles pour le conteneur de l'en-tête */
.header_container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 30px 0;
}

/* Styles pour le menu burger (initialement caché) */
.burgerMenu {
  display: none;
}

/* Styles pour le conteneur des liens de navigation */
.nav-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  li {
    font: {
      size: 16px;
      family: "space_monoregular", monospace;
    }
    text-transform: uppercase;

    a {
      color: #000;
      text-decoration: none;

      &:hover {
        font-weight: 700;
      }
    }
  }
}

/* Styles pour le menu de navigation */
.header-menu {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;

  li {
    a {
      text-decoration: none;
      color: #000;
      padding: 0 15px;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}

/* Styles pour le logo */
.logo {
  margin-left: 20px;
}

/* Media query pour les écrans de moins de 600px */
@media screen and (max-width: 600px) {
  .header {
    padding-inline: 16px;

    /* Styles lorsque le menu est ouvert */
    &.open {
      position: fixed;
      background-color: #fff;
      z-index: 2;
      animation: openNav 0.7s ease-in-out 0s forwards;
    }

    /* Animation pour ouvrir le menu */
    @keyframes openNav {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0);
      }
    }

    /* Styles pour le menu burger lorsqu'il est ouvert */
    .siteNavigation {
      .burgerMenu {
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;

        .bar {
          width: 100%;
          height: 4px;
          background-color: black;
          transition: transform 0.3s ease-in-out;
        }

        /* Styles pour le menu burger lorsqu'il est ouvert */
        &.open {
          .bar:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
          }
          .bar:nth-child(2) {
            opacity: 0;
          }
          .bar:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -5px);
          }
        }
      }

      /* Styles pour la navigation lorsqu'elle est ouverte */
      .navigation {
        display: none;

        &.open {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 50px;
          left: -16px;
          right: 0;
          background-color: #e00000;
          width: 100vw;
          height: 100vh;

          /* Styles pour les liens de navigation lorsqu'ils sont ouverts */
          .menuNavigation {
            flex-direction: column;
            gap: 18px;
            height: 600px;
            justify-content: center;
            align-items: center;
            padding-inline: 0;

            li {
              font: {
                size: 45px !important;
              }

              a {
                color: #fff !important;
              }
            }
          }
        }
      }
    }
  }
}
