/* Styles du bloc de catalogue */
.blocCatalogue {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  gap: 10px;
}

/* Styles de l'image principale dans le bloc */
#load-moreContainer {
  width: 100%;
}

/* Styles du bouton "Plus d'image" */
#btnLoad-more {
  display: block;
  position: relative;
  width: 270px;
  height: 50px;
  line-height: 100%;
  background-color: #d8d8d8;
  font-family: space_monoregular;
  font-weight: 400;
  font-size: 12px;
  border-radius: 2px;
  border: none;
  margin: 0 auto;
  margin-bottom: 5%;

  /* Styles au survol du bouton */
  &:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }
}
