/* Styles généraux */
body {
  font-family: "space_monoregular";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Section principale du catalogue de photos */
.cataloguePhotos {
  display: flex;
  flex-direction: column;
  padding-top: 76px;
  max-width: 80%;
  margin: auto;

  @media screen and (max-width: 765px) {
    max-width: 375px;
  }
}

/* Section principale pour la galerie de photos */
.galleryPhotos {
  display: flex;
  flex-direction: column;
  max-width: 100%;

  @media screen and (max-width: 820px) {
    height: 100%;
  }
}

/* Section détaillée de la photo */
.detailPhoto {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  position: relative;

  @media screen and (max-width: 765px) {
    flex-direction: column;
    align-items: center; /* Centrer les éléments en colonne */

    .photo-info {
      width: 100%;
      text-align: center; /* Centrer le texte */
      padding-bottom: 20px; /* Ajuster l'espacement bas */
    }

    .photo-title {
      width: 100%;
      margin-bottom: 10px;
      font-size: 40px;
      line-height: 48px;

      @media screen and (max-width: 820px) {
        font-size: 30px; /* Ajustez la taille de la police pour les écrans plus petits */
        line-height: 36px; /* Ajustez la hauteur de ligne pour les écrans plus petits */
      }
    }
  }

  .photo-title {
    width: 50%;
    margin: 0;

    h2 {
      font-family: "space_monoregular";
      text-transform: uppercase;
      font-style: italic;
      font-weight: 400;
      font-size: 66px;
      line-height: 58px;

      @media screen and (max-width: 820px) {
        font-size: 40px; /* Ajustez la taille de la police pour les écrans plus petits */
        line-height: 48px; /* Ajustez la hauteur de ligne pour les écrans plus petits */
        width: 100%;
        left: 0;
        position: relative;
        text-align: center;
      }
    }
  }

  .photo-info {
    width: 50%;
    text-align: left;
    position: relative;

    &::before {
      content: "";
      display: block;
      width: 97%;
      height: 1px;
      background-color: black;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0 auto;
    }

    padding-bottom: 40px;
    font-family: "space_monoregular";
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.1em;
  }
}

/* Container photo */
.containerPhoto {
  height: 100%;
  width: 50%;
  object-fit: cover;

  @media screen and (max-width: 820px) {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 840px;
    display: block;
    object-fit: cover;
  }
}

/* Section du formulaire de contact */
.contenairContact {
  width: 100%;
  height: 118px;
  align-items: center;
  border-bottom: solid black 1px;
  display: flex;
  justify-content: center;

  @media screen and (max-width: 820px) {
    flex-direction: column;

    p {
      font-family: "PoppinsRegular";
      font-size: 14px;
      font-weight: 300;
      line-height: 21px;
      letter-spacing: 0em;
      width: 263px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  /* Section du bouton de contact */
  .contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;

    @media screen and (max-width: 820px) {
      flex-direction: column;
    }
  }
}

/* Bouton de contact */
#boutonContact {
  width: 272px;
  height: 50px;
  line-height: 100%;
  background-color: #d8d8d8;
  font-family: "space_monoregular";
  font-weight: 400;
  font-size: 12px;
  border-radius: 2px;
  border: none;
  margin-right: 20px;

  @media screen and (max-width: 820px) {
    width: 263px;
  }

  &:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }
}

/* Section de navigation entre les photos */
.naviguationPhotos {
  width: 50%;
  height: 118px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (max-width: 820px) {
    display: none;
  }
}

/* Flèches de navigation entre les photos */
.naviguationArrow {
  width: 81px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
  height: 118px;

  /* Flèches gauche et droite */
  .arrow {
    width: 25px;
    height: auto;
    background-size: cover;
    background-position: center;
    display: inline-block;

    &:hover + .miniPicture {
      display: flex !important;
    }

    .arrow-left {
      top: 10px;
      position: relative;
    }
    .arrow-right {
      top: 10px;
      position: relative;
    }
  }
}

/* Conteneur pour les miniatures au survol des flèches de navigation */
.miniPicture-content {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

/* Miniatures des photos adjacentes */
.miniPicture,
.miniPicture-left,
.miniPicture-right {
  visibility: hidden;
  opacity: 0;
  position: relative;
  height: 71px;
  width: 81px;
  top: 8px;
  transition: visibility 0, 3s, opacity 0.3s linear;

  a {
    display: block;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/* Affichage des miniatures au survol des flèches de navigation */
.arrow:hover + .miniPicture,
.arrow:hover + .miniPicture-left,
.arrow:hover + .miniPicture-right {
  visibility: visible;
  opacity: 1;
}

/* Titre pour la section des photos similaires */
.titleSugest {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;

  @media screen and (max-width: 1140px) {
    text-align: center;
  }
}

/* Style pour le message "Cette photo vous intéresse ?" */
.interesser {
  font-family: "PoppinsRegular";
  font-size: 14px;
  text-align: center;
}

/* Style pour le message "Pas de photo similaire trouvée" */
.photoNotFound {
  margin: 0 auto;
  margin-bottom: 5%;
  font-family: "PoppinsRegular";
  font-size: 20px;
  text-align: center;
}

/* Affichage des photos similaires */
.similar_photo {
  display: flex;
  justify-content: center;
  gap: 40px;

  @media screen and (max-width: 1140px) {
    flex-direction: column;
    align-items: center;
  }

  .similar_photo__container {
    width: 48%;
  }

  .similar_photo__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

/* Styles généraux */
.width-420 {
  width: 420px;

  @media screen and (max-width: 820px) {
    width: 100%;
    left: 10px;
    position: relative;
  }
}
